%html
	%head
		%link{:rel => "stylesheet", :href => "/css/styles.css", :type => "text/css"}
		%title phil the plonker
	%body
		%div{:class => 'wrapper'}
			%header
				%h1 Phil
				%h5 ...the plonker
		
				%h1= locals[:title]
		
				=locals[:summary]