html{height: 100%;}

body { 
	background-color: #fff; 
	color: #333; 
	
	margin:0px;
	padding:0px;
	height: 100%;
}

body, p, ol, ul, td {
  font-family: "Comic Sans MS", cursive;
  font-size: 1.2em;
	line-height: 1.6em;
}

h5{
	float:right;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

input{
	font-size: 1.2em;
}

header{
	margin-top:20px;
}

.wrapper{
	margin: 0 auto -40px; width: 900px; min-height:100%; height: 100%;
}

.content-form{
	border:5px solid EBEBEB;
	padding:20px;
	width:750px;
}